


.header-main-wrapper{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  .navbar{
    margin-bottom: 0 !important;
    .container-fluid{
      position: relative;
      display: flex;
      align-items: center;
      .navbar-header{
        display: flex;
        align-items: center;
        padding: 0 20px;
        .brand-logo{
          width: 200px;
          height: auto;
        }
        .navbar-toggle{
          border-color: #333;
          background-color: #333;
        }
      }
      #myVyaparNav{
        width: 100%;
        background-color: white;
      }
    }
  }
  .navbar-inverse {
    background-color: #fff;
    border: none !important;
    border-radius: 0;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
  }


  li > a:hover{
    color: #000000 !important;
    background-color: transparent !important;
  }
  li > a:active{
    color: #000000 !important;
    background-color: transparent !important;
  }
  .open>a:hover {
    color: #000000 !important;
    background-color: transparent !important;
  }
  .open>a:active {
    color: #000000 !important;
    background-color: transparent !important;
  }
}


@media all and (min-width:300px) and (max-width: 768px){
  #myVyaparNav{
    width: 100%;
    position: absolute;
    margin: 50px 0px;
    background-color: white;
    top: 30px;
    left: 0;
  }
}
